/* Variables */
:root {
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;

    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --secondary-color: #2E2F42;
    --success-color: #31D0AA;

    --primary-text: #434455;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;

    --white-bg: #FFFFFF;

}
/* Styles reset */
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
/* Body */
body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text);
    background-color: var(--white-bg);
   }
/* Header */
.logo {
   font-family: var(--secondary-font);
   font-size: 18px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--secondary-color);
}
.logo-part {
   color: var(--primary-brand-color);
}
.logo.footer {
   color: var(--light-color);
}
.nav-link {
   font-weight: 500;
   color: var(--secondary-color);
}
.mail,
.tel {
   font-style: normal;
   color: var(--primary-text);
}
.nav-link:hover,
.nav-link:focus,
.mail:hover,
.mail:focus {
   color: var(--pressed-state-color);
}